{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}{{page_title}}{% endblock page_title %}
{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-dark">
                    <div class="card-header">
                        <h3 class="card-title">{{page_title}}</h3>
                    </div>


                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="card-body">



                       


                        <div class="form-group table">
              <table class="table table-bordered">
                  <tr>
                      <th>#</th>
                      <th>Date</th>
                      <th>Message</th>
                  </tr>
                  {% for notification in  notifications %}
                    <tr {% if not notification.is_read %}class="table-warning"{% endif %}>
                        <td>{{forloop.counter}}</td>
                        <td>{{notification.created_at}}</td>
                        <td>
                            <div>{{notification.message|linebreaksbr}}</div>
                            {% if notification.link %}
                                <div><a href="{{notification.link}}" target="_blank">Open Link</a></div>
                            {% endif %}
                            {% if notification.attachment %}
                                <div><a href="{{ notification.attachment.url }}" target="_blank">Download Attachment</a></div>
                            {% endif %}
                            {% if not notification.is_read %}
                                <form method="post" action="{% url 'mark_notification_read' %}" style="display:inline; margin-top:6px;">
                                    {% csrf_token %}
                                    <input type="hidden" name="notification_id" value="{{ notification.id }}" />
                                    <button class="btn btn-sm btn-success">Mark as read</button>
                                </form>
                            {% endif %}
                        </td>
                    </tr>
                  {% endfor %}
              </table>
                        </div>
                   
                    </div>
                    <!-- /.card-body -->

                <!-- /.card -->

            </div>
        </div>
    </div>
</section>
{% endblock content %}

